
/ footer content
%footer
  .pull-right
    Claro - Sistema de administracion integral
  .clearfix
/ /footer content
#custom_notifications.custom-notifications.dsp_none
  %ul.list-unstyled.notifications.clearfix{"data-tabbed_notifications" => "notif-group"}
  .clearfix
  #notif-group.tabbed_notifications
