/ page content
.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3 Captura de Órdenes

    .clearfix
    .row
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2
          Forma
          %small different form elements
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        %br
          %form#demo-form2.form-horizontal.form-label-left{"data-parsley-validate" => "", :novalidate => ""}
            .form-group
              %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "first-name"}
                First Name
                %span.required *
              .col-md-6.col-sm-6.col-xs-12
                %input#first-name.form-control.col-md-7.col-xs-12{:required => "required", :type => "text"}
            .form-group
              %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "last-name"}
                Last Name
                %span.required *
              .col-md-6.col-sm-6.col-xs-12
                %input#last-name.form-control.col-md-7.col-xs-12{:name => "last-name", :required => "required", :type => "text"}
            .form-group
              %label.control-label.col-md-3.col-sm-3.col-xs-12{:for => "middle-name"} Middle Name / Initial
              .col-md-6.col-sm-6.col-xs-12
                %input#middle-name.form-control.col-md-7.col-xs-12{:name => "middle-name", :type => "text"}
            .form-group
              %label.control-label.col-md-3.col-sm-3.col-xs-12 Gender
              .col-md-6.col-sm-6.col-xs-12
                #gender.btn-group{"data-toggle" => "buttons"}
                  %label.btn.btn-default{"data-toggle-class" => "btn-primary", "data-toggle-passive-class" => "btn-default"}
                    %input{"data-parsley-multiple" => "gender", :name => "gender", :type => "radio", :value => "male"}
                      \&nbsp; Male &nbsp;
                  %label.btn.btn-primary{"data-toggle-class" => "btn-primary", "data-toggle-passive-class" => "btn-default"}
                    %input{"data-parsley-multiple" => "gender", :name => "gender", :type => "radio", :value => "female"}
                      Female
            .form-group
              %label.control-label.col-md-3.col-sm-3.col-xs-12
                Date Of Birth
                %span.required *
              .col-md-6.col-sm-6.col-xs-12
                %input#birthday.date-picker.form-control.col-md-7.col-xs-12{:required => "required", :type => "text"}
            .ln_solid
            .form-group
              .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                %button.btn.btn-primary{:type => "submit"} Cancel
                %button.btn.btn-success{:type => "submit"} Submit
